[submodule "projects_service"]
	path = projects_service
	url = https://github.com/fridrock/projects_service.git
[submodule "users"]
	path = users 
	url = https://github.com/fridrock/users.git
[submodule "jir-ui"]
	path = jir-ui
	url = https://github.com/fridrock/jir-ui.git
